# Basic Operation and Operators

# This is my first programðŸ˜ŽðŸ˜ŽðŸ˜ŽðŸ˜‰ðŸ˜‰ðŸ˜‰

In [4]:
40-20

20

In [2]:
3-10

-7

In [3]:
329*123

40467

In [4]:
2+2

4

In [5]:
16/4

4.0

In [6]:
220/40

5.5

In [7]:
520%6

4

In [8]:
10**3

1000

In [9]:
10//6

1

In [10]:
20**7

1280000000

In [17]:
8054>1254

True

In [12]:
"hello jhon"

'hello jhon'

In [14]:
"""hello
 ashu
 how r u"""

'hello\n ashu\n how r u'

In [18]:
d=10

In [19]:
b=5

In [20]:
d=40
b=10

In [21]:
d+b

50

In [22]:
college ="Babu banarasi das university"
dob = "5 aug"
mobile = "7905010789"

In [26]:
location ="up lucknow"

In [27]:
# undefined varaiable error nameError
Place

NameError: name 'Place' is not defined

# string operators example

In [28]:
111+23

134

In [29]:
hello+world

NameError: name 'hello' is not defined

In [30]:
"hello"+"world"

'helloworld'

In [32]:
"Random"+location

'Randomup lucknow'

In [33]:
# you can multiple a string with a number---->duplication

In [34]:
"Manoj"*14

'ManojManojManojManojManojManojManojManojManojManojManojManojManojManoj'

In [35]:
"-"*16

'----------------'

# variables

In [1]:
name = "Manoj Tiwari"
hero_name ="Batman"
skills ={"fighting","super intelligence","etc"} 
creator ="Bob kane"
creater_in ="1987"

In [5]:
x=1
y=654123789
z=-325468

In [6]:
type(x)

int

In [9]:
z= 87.7e100

In [10]:
name = "Ujjawal shukla"
color = "black"
institute = "bacho k teacher"

In [11]:
a = 20
b = 5 
a/b

4.0

In [14]:
is_coding = True

In [15]:
is_coding

True

In [16]:
a=[5,10,15,20,40,50,60]
vals=[1,2.2,"python"]
colors=["red","green","black"]

In [17]:
a=(5,10,15,20,40,50,60)
vals=(1,2.2,"python")
colors=("red","green","black")

In [2]:
a={5,10,15,20,40,50,60}
vals={1,2.2,"python"}

In [3]:
car_info = {
"colors":"red",
"model": "musking"}

In [1]:
print("this it rained")

this it rained