## Makes a function
$  Defining and calling function

* def function_name():

In [3]:
def check():
    print("This is a function")

In [4]:
check()

This is a function

In [5]:
check()
check()
check()
check()

This is a function
This is a function
This is a function
This is a function

In [10]:
def divide(a, b, c):
 ans = a/b/c
 print(ans)

In [11]:
divide(20,4 ,5)

1.0

In [28]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .08
    print(f"{old_salary}-{new_salary}")

def remove_hra(salary):
    new_salary = salary - salary * .05
    print(f"{salary}->{new_salary}")

In [19]:
update_salary(15000)
remove_hra(10800)

15000-16200.0
10800->10260.0

In [24]:
def total(a,b,c,d,e):
    add=a+b+c+d+e
    print(add)

In [26]:
total(3,4,5,6,7)

25

In [29]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .08
    return new_salary

def remove_hra(salary):
    new_salary = salary - salary * .05
    return new_salary

In [30]:
print(update_salary(10000))

10800.0

In [31]:
salary=update_salary(20000)
print(salary)

21600.0

In [32]:
update_salary(10000)+5000

15800.0

In [34]:
remove_hra(update_salary(10000))

10260.0

* WAF to return true or false, if a number is even or not
* WAF to remove all vowels from a sentence given i  a function 
* WAF to return the second highest value from a list given as parameter

In [7]:
def even(a):
    if a%2==0:
        return(True)
    else:
        return(False)

In [8]:
even(6)

True

In [11]:
def vowel(s):
    for vowel in "aeiouAEIOU":
      s=s.lower().replace(vowel,"")
    return(s)

In [12]:
vowel("My name is Manoj")

'my nm s mnj'

In [17]:
def max_2(num_list):
    num_list.sort()
    return num_list[-2]

In [24]:
max_2([2,4,5,66,88])

66

In [25]:
"we are going to stop writing".split("o")

['we are g', 'ing t', ' st', 'p writing']

In [26]:
def add4(x,y,z=0,z2=0):
    return x+y+z+z2

In [29]:
add4(2,4,6,7)

19

In [30]:
def eq_1(x,y,z):
    return x**y-z*x

In [31]:
eq_1(3,4,5)
print(eq_1(x=3, y=4, z=5)) # named parameters/ keyword argument
print(eq_1(y=3, x=4, z=5))
print(eq_1(x=10, z=4, y=3))

66
44
960

In [34]:
print("helo","is","not","hello",sep="\n")

helo
is
not
hello

In [38]:
def count_zeros(*nums):
    if len(nums)>0:
        return nums.count(0)

In [40]:
print(count_zeros())
print(count_zeros(1,2,3,4,5,6,7,8))
print(count_zeros(1,2,0,4,5,6,0,7,0,8,0))

None
0
4

In [41]:
def adder(*args):
    if len(args)>0:
        return sum(args)
        return 0

In [42]:
adder(1,5,6,3,4,2,8)

29

# Question have string and list convert into function

# lambda expression

In [5]:
f =lambda x : x+5*x

In [6]:
f(5)

30

In [7]:
for i in range (10):
    print(f(i))

0
6
12
18
24
30
36
42
48
54

In [8]:
f =lambda x : x+5*x
g =lambda x,y : (x+y)/(x-y)

In [9]:
g(55,45)

10.0

# Map & filter

In [17]:
x = list(range(1,11))
print(x)
# adding 5 to each item using map
list(map(lambda i: i**2, x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
x = list(range(1,11))
print(x)
# adding 5 to each item using map
list(map(lambda i: i+5, x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [19]:
names = ["Manoj", "Gaurav", "Ravi","Ashindra", "Ujjwal"]
list(map(lambda nm:len(nm), names))

[5, 6, 4, 8, 6]

Get a list of numbers using one user input

In [23]:
numbers = list(map(int, input(">>>").split(",")))

In [24]:
numbers

[54, 45, 65, 85]

In [25]:
list(input("<<<"))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

# FILTER

In [33]:
def is_prime(n):
    if n == 1:
        return False
    for i in range(2,n):
        if n% i==0:
            return False
    return True

In [34]:
is_prime(29)

True

In [37]:
x = list(range(1,11))
list(filter(is_prime,x))

[2, 3, 5, 7]