## What to learn
. Comprehension

. lambda,map and filter

If you are doing a program where you need to get a list(sequence) of data** from and **Existing data by performing some operation on existing data,then you can use the concept of comperhension or map/filter to make your code smaller and faster

In [2]:
x = [1,2,3,4,5,6,7]
x3 = [] #list empty
for i in x:
    a = i + 5
    x3.append(a)
print(x3)

[6, 7, 8, 9, 10, 11, 12]

# comprehension syntax

-  # Simple

. newlist = [Operation loop]
....

- # Conditional based

- new list = [Operation loop conditional]

In [27]:
x3 = [i+5 for i in x]
print(x3)

[6, 7, 8, 9, 10, 11, 12]

In [28]:
x3 = [i**3 for i in x]
print(x3)

[1, 8, 27, 64, 125, 216, 343]

In [35]:
x = [1,2,3,4,5,6,7,8,9]
x4 = [] # empty
for i in x:
 if i%2 ==0:
  x4.append(i**3)
print(x4)

[8, 64, 216, 512]

In [42]:
x4 = [i**5 for i in x if i%2==0]
print(x4)

[32, 1024, 7776, 32768]

In [45]:
x = [1,2,3,4,5,6,78,99,8] 
x6 = [] # empty
for i in x:
    a = i - 10
    x6.append(a)
print(x6)

[-9, -8, -7, -6, -5, -4, 68, 89, -2]

In [47]:
x1 = [ i-10 for i in x if i%2!=0]
print(x1)

[-9, -7, -5, 89]

In [48]:
names = ["Alex Mason"," Manoj Tiwari","Gaurav Verma"]
surnames =[]
for n in names:
    sn = n.split()[-1]# get the last word
    surnames.append(sn)
print(surnames)

['Mason', 'Tiwari', 'Verma']

In [51]:
x = [n.split()[-1] for n in names ]
print(x)

['Mason', 'Tiwari', 'Verma']

### Task
Write a comprehension program that will return all the employees with "a" in their names from an existing list of 25 employees

In [9]:
names = ["Alex Mason"," Manoj Tiwari","Gaurav Verma","Aman saxena","Rohan Verma","Aryan Yadav","Ram Mishra","elex"]
surnames =[]
for n in names:
sn =n.split()[a]# get the last word
surnames.append(sn)
print(surnames)

IndentationError: expected an indented block (3038270555.py, line 4)

In [ ]:
x = [n.split()[a] for n in names]
print(x)

['Alex', 'Manoj', 'Gaurav', 'Aman', 'Rohan', 'Aryan', 'Ram']