# concept of loops in Python

syntax
for <variable>in<sequence>:
statement 1
statement 2

In [2]:
x = " Python"
for i in x:
    print(i)

P
y
t
h
o
n

In [3]:
fruits = ["apples","banana","mango"]
for item in fruits:
    print(f"i have {item}")

i have apples
i have banana
i have mango

In [4]:
movies =["The Holy Grail","The life of brain","The meaning of life","Terminator","Pulp friction"]

In [6]:
for movie in movies:
    print(movie,len(movie))

The Holy Grail 14
The life of brain 17
The meaning of life 19
Terminator 10
Pulp friction 13

#  Important Notes
for i,name in enumerate(movies):

In [9]:
for i,name in enumerate(movies):
    print(f"{i}- {name}")

0- The Holy Grail
1- The life of brain
2- The meaning of life
3- Terminator
4- Pulp friction

In [10]:
for i in range(6):
    print("you got point",i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [13]:
for num in range (1,10,4):
    print("level",num)

level 1
level 5
level 9

In [15]:
for num  in range (2,11):
    print("sheep", num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [16]:
# reverse loop
for num in range(10,5,-2):
    print(num)

10
8
6

In [17]:
#pattern loops 
for i in range(10):
    print(i* "Na")

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [35]:
# even or odd numbers
for i in range(1,101):
 if i%2 ==0:
    print("even",i)
 else:
     print("odd",i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24
odd 25
even 26
odd 27
even 28
odd 29
even 30
odd 31
even 32
odd 33
even 34
odd 35
even 36
odd 37
even 38
odd 39
even 40
odd 41
even 42
odd 43
even 44
odd 45
even 46
odd 47
even 48
odd 49
even 50
odd 51
even 52
odd 53
even 54
odd 55
even 56
odd 57
even 58
odd 59
even 60
odd 61
even 62
odd 63
even 64
odd 65
even 66
odd 67
even 68
odd 69
even 70
odd 71
even 72
odd 73
even 74
odd 75
even 76
odd 77
even 78
odd 79
even 80
odd 81
even 82
odd 83
even 84
odd 85
even 86
odd 87
even 88
odd 89
even 90
odd 91
even 92
odd 93
even 94
odd 95
even 96
odd 97
even 98
odd 99
even 100

In [48]:
total =0
for i in range (2,101):
    if i %2 ==0:
        total +=i
print("total of all even numbers=>",total)

total of all even numbers=> 2550

In [50]:
avg =0
for i in range(1,101):
    if i%2 !=0:
        avg=avg+i/100
print(avg)

24.999999999999996